POSTGRES_USER=dummy_user
POSTGRES_PASSWORD=dummy_password
POSTGRES_DB=dummy_db
POSTGRES_HOST=dummy_host
POSTGRES_PORT=5432
DATABASE_URL=postgresql://dummy_user:dummy_password@dummy_host:5432/dummy_db
GEMINI_API_KEY=dummy_api_key
VITE_API_URL=http://localhost:8000
