langchain
ipykernel
python-dotenv
langchain_community
pypdf
bs4
langchain-text-splitters
langchain-openai
chromadb
langchain-ollama
langchain-chroma
langchain-huggingface 
sentence-transformers
faiss-cpu
langchain-groq
fastapi
uvicorn[standard]
langserve
sse_starlette
langchain-google-community
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
docling
python-multipart
requests
sqlalchemy
psycopg2-binary
pgvector
